#submitbutton {
    color: rgb(0, 0, 0) !important;
}
#loginButton {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(30, 0, 255) !important;
    border-radius: 10px !important;
    padding: 5px 10px !important;
}

#loginButton:hover {
    background-color: rgba(54, 30, 235, 0.899) !important;
    color: rgb(0, 0, 0) !important;
}

.snackbar-success {
    background-color: #4caf50;
    color: white;
}

.snackbar-warning {
    background-color: #ffa000; /* amber 700 */
    color: black;
    font-weight: bold;
}
