<div class="hero-section text-white d-flex align-items-center mb-5">
  <div class="container">
    <div class="row">
      <div class="col-5" style="color:black">
        <h1 class="text-center"style="font-size: 30px">Welcome to 360Streaming</h1>
        <p class="text-center">Your personal dashboard for managing your streaming activities</p>

        <br> 

        <a class="text-center btn btn-primary btn-lg btn-block" href="/register">
          Start your streaming journey
        </a>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center"style="font-size: 30px">Share your world with others</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-4 col-lg-4 my-5">
            <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
                <h2 style="font-size: 20px">Profile</h2>
                <p>Set up an unique profile!</p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 my-5">
            <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
                <h2 style="font-size: 20px">Livestreaming</h2>
                <p>Share your world with others!</p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 my-5">
            <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
                <h2 style="font-size: 20px">Watch others</h2>
                <p>See what others are up to!</p>
            </div>
        </div>
    </div>

    <div class="center-element mb-3">
        <a class="text-center btn btn-primary btn-lg btn-block" href="/register">
            Explore 360Streaming
        </a>
    </div>
</div>